<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <div id="banner">
      <title>소재정보 저장페이지 입니다!</title>
    </div>
  </head>
  <body>
    <div class='banner.content'>
    <h2><a href="/"> 홈으로 가기</a></h2>
    <h2><a href="/search"> 검색 페이지로 가기 </a></h2>
      <hr />
    </div>
    <h2>소재정보 저장페이지 입니다.</h2>
    <!-- index랑 같이 보여주기 :each_with_index -->
    <!-- 역순으로 보여주기 : reverse -->
    <% @materials.reverse.each_with_index do |material, idx| %>
    <%= @materials.length - idx %> 번째 검색 저장 <br />
    소재이름 : <%= material[0] %><br />
    소재 분류 : <%= material[1] %><br />
    원자량 : <%= material[2] %><br />
    밀도 : <%= material[3] %><br />
    녹는점 : <%= material[4] %><br />
    끓는점 : <%= material[5] %><br />
    삼중점 : <%= material[6] %><br />
    용해도 : <%= material[7] %><br />
    기화열 : <%= material[8] %><br />
    열용량 : <%= material[9] %><br />
    전기음성도 : <%= material[10] %><br />
    이온화에너지 : <%= material[11] %><br />
    원자반지름 : <%= material[12] %><br />
    <hr />
    <% end %>
  </body>
</html>
